// instagram feed
.section-gallery {
  background: $blue;
  overflow: hidden;

  .wrapper {
    @extend %wrapper;
    max-width: $wrapper-site;
  }

  .section-header {

    // media
    @include media($mq-tablet-up) {
      align-items: center;
      display: flex;
      justify-content: center;
    }

  }

  .section-hours {
    @extend %black-letter;
    font-size: rem(12);
    font-weight: 700;

    // media
    @include media($mq-tablet-up) {

      ~ .section-hours {
        margin-left: 4vw;
      }

    }
    @include media($mq-mobile) {

      ~ .section-hours {
        margin-top: $space-16;
      }

    }

  }

  ~ .section-cta {
    margin-top: 12vh;
  }

}

.gallery {
  columns: 4;
  gap: $space-16;
  margin: 0 $space-16;
  line-height: 0;

  // media
  @include media($mq-mobile) {
    columns: 2;
  }

  img {
    background: $white;
    border: solid $space-8 $white;
    box-shadow: $box-2;
    margin-top: $space-16;
  }

}
