// navigation : mobile
.site-navigation-trigger {
  border: 0;
  padding-right: $space-16;
  padding-left: $space-16;
  height: $space-56;

  // media
  @include media($mq-tablet-up) {
    display: none;
  }

}

// media
@include media($mq-mobile) {

  .site-header {
    background: $black;
    height: $space-56;
  }

  .site-nav-container {
    background: rgba($black, .96);
    height: calc(100% - 56px);
    width: 100%;
    position: fixed;
    top: $space-56;
    left: 0;
    z-index: 8;
    transition: .24s ease-in-out 0s;
    transform: translate(-100%, 0);

    &.open {
      transform: translate(0, 0);

      ~ .phone-maps-container {
        opacity: 1;
        transform: translate(0, 0);

        .cta-phone,
        .cta-maps {
          display: block;
        }

      }

    }

  }

  .site-nav {
    align-items: flex-start;
    flex-direction: column;
  }

}

.phone-maps-container {
  padding: $space-24;
  width: 100%;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translate(0, 100%);
  transition: .24s ease-in-out .24s;
}
